<div class="container">
    <div class="row">
        <div class="col-sm-12">   
            <h1 class="bg-danger" ng-if="vm.signWarn">Please sign in before continuing</h1>
            <div class="rowPinterest">
            <div class="panel panel-default item" ng-repeat="claim in vm.data">
                
                <div class="panel-body well">
            		<table  class="table table-striped well"  ng-switch on="claim.claimType">
                		<thead>
                  			<tr>
                    			<th>Order: {{claim.orderNumber}} </th>
                    		</tr>
                            <tr>
                                <th>Type: {{claim.claimType}}</th>
                            </tr>
                        </thead>
                        <tbody ng-switch-when="Fat Claim">
                    		<tr>
                    			<td>Fat</td> <td>{{claim.fatResult}}</td>
                            </tr>
                            <tr>
                    			<td>FatSB</td><td> {{claim.fatSB}}</td>
                            </tr>
                            <tr>
                                <td>Difference</td> <td>{{claim.fatResult-claim.fatSB}}</td>
                            </tr>
                        </tbody>
                        <tbody ng-switch-when="Specification">
                            <tr>
                                <td>Spec</td> <td>{{claim.specResult}}</td>
                            </tr>
                            <tr>
                                <td>SpecSB</td><td> {{claim.specSB}}</td>
                            </tr>
                            <tr>
                                <td>Difference</td> <td>{{claim.specResult-claim.specSB}}</td>
                            </tr>
                        </tbody>
                  	</table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>        




